
<div class="col">
  <div class="card m-auto" style="width: 15rem;">
    <img
      src="<%= pokemon.imageUrl %>"
      class="card-img-top w-75 m-auto"
      alt="<%= pokemon.name %>"
    />
    <div class="card-body text-center">
      <h5 class="card-title"><%= pokemon.name %></h5>
      <button type="button" class="btn btn-primary"
       data-pokemon-id="<%= pokemon.id %>"
       data-bs-toggle="modal" data-bs-target="#pokemonModal">
        More Info
      </button>
    </div>
  </div>
</div>

